    <section id="testimonials-section" class="hero is-medium is-primary">
      <a class="anchor" name="testimonials"></a>
      <h2 class="title is-2 has-text-centered">Testimonials</h2>

      <div class="columns is-multiline">

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/katta.jpg">
              <source src="videos/katta.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Katharina Nocun</p>
                <p class="subtitle is-6 has-text-black">Netzaktivistin & Buchautorin</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/rainer.jpg">
              <source src="videos/rainer.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Rainer Rehak</p>
                <p class="subtitle is-6 has-text-black">Stellv. Vorsitzender des Forum InformatikerInnen für Frieden & gesellschaftliche Verantwortung</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/constanze.jpg">
              <source src="videos/constanze.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Constanze Kurz</p>
                <p class="subtitle is-6 has-text-black">Sprecherin des Chaos Computer Clubs</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/ulf.jpg">
              <source src="videos/ulf.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Ulf Buermeyer</p>
                <p class="subtitle is-6 has-text-black">Vorsitzender der Gesellschaft für Freiheitsrechte</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/markus.jpg">
              <source src="videos/markus.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Markus Beckedahl</p>
                <p class="subtitle is-6 has-text-black">Gründer re:publica & netzpolitik.org</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/anke.jpg">
              <source src="videos/anke.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Anke Domscheit-Berg</p>
                <p class="subtitle is-6 has-text-black">Netzpolitische Sprecherin der Linksfraktion im Bundestag</p>
              </a>
            </div>
          </article>
        </div>


        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/thomas.jpg">
              <source src="videos/thomas.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">Thomas Lohninger</p>
                <p class="subtitle is-6 has-text-black">Geschäftsführer von epicenter.works</p>
              </a>
            </div>
          </article>
        </div>

      </div>
    </section>
