    <section id="testimonials-section">
      <a class="anchor" name="testimonials"></a>
      <h2>Testimonials</h2>

      <div class="columns is-multiline">

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/katta.jpg">
              <source src="videos/katta.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://kattascha.de" target="_blank">
                <p class="title">Katharina Nocun</p>
                <p class="subtitle">Netzaktivistin & Buchautorin</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/rainer.jpg">
              <source src="videos/rainer.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://www.weizenbaum-institut.de/portrait/p/rainer-rehak/" target="_blank">
                <p class="title">Rainer Rehak</p>
                <p class="subtitle">Stellv. Vorsitzender des Forum InformatikerInnen für Frieden & gesellschaftliche Verantwortung</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/ulf.jpg">
              <source src="videos/ulf.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://freiheitsrechte.org" target="_blank">
                <p class="title">Ulf Buermeyer</p>
                <p class="subtitle">Vorsitzender der Gesellschaft für Freiheitsrechte</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/markus.jpg">
              <source src="videos/markus.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://twitter.com/netzpolitik" target="_blank">
                <p class="title">Markus Beckedahl</p>
                <p class="subtitle">Gründer re:publica & netzpolitik.org</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/thomas.jpg">
              <source src="videos/thomas.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://socialhack.eu" target="_blank">
                <p class="title">Thomas Lohninger</p>
                <p class="subtitle">Geschäftsführer von epicenter.works</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/andreas.jpg">
              <source src="videos/andreas.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://www.andreaseschbach.de" target="_blank">
                <p class="title">Andreas Eschbach</p>
                <p class="subtitle">Buchautor</p>
              </a>
            </div>
          </article>
        </div>

      </div>
    </section>
