    <section id="testimonials-section">
      <a class="anchor" name="testimonials"></a>
      <h2>Testimonials</h2>

      <div class="columns is-multiline">

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/bfdi.jpg">
              <source src="videos/bfdi.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://www.bfdi.bund.de" target="_blank">
                <p class="title">Ulrich Kelber</p>
                <p class="subtitle">Bundesbeauftragter für den Datenschutz und die Informationsfreiheit</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/katta.jpg">
              <source src="videos/katta.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://kattascha.de" target="_blank">
                <p class="title">Katharina Nocun</p>
                <p class="subtitle">Netzaktivistin & Buchautorin</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/rainer.jpg">
              <source src="videos/rainer.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://www.weizenbaum-institut.de/portrait/p/rainer-rehak/" target="_blank">
                <p class="title">Rainer Rehak</p>
                <p class="subtitle">Stellv. Vorsitzender des Forum InformatikerInnen für Frieden & gesellschaftliche Verantwortung</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/constanze.jpg">
              <source src="videos/constanze.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title">Constanze Kurz</p>
                <p class="subtitle">Sprecherin des Chaos Computer Clubs</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/ulf.jpg">
              <source src="videos/ulf.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://freiheitsrechte.org" target="_blank">
                <p class="title">Ulf Buermeyer</p>
                <p class="subtitle">Vorsitzender der Gesellschaft für Freiheitsrechte</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/markus.jpg">
              <source src="videos/markus.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://twitter.com/netzpolitik" target="_blank">
                <p class="title">Markus Beckedahl</p>
                <p class="subtitle">Gründer re:publica & netzpolitik.org</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/konstantin.jpg">
              <source src="videos/konstantin.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://www.von-notz.de" target="_blank">
                <p class="title">Konstantin von Notz</p>
                <p class="subtitle">Bundestagsfraktion Bündnis 90 / Die Grünen</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/anke.jpg">
              <source src="videos/anke.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://twitter.com/anked" target="_blank">
                <p class="title">Anke Domscheit-Berg</p>
                <p class="subtitle">Netzpolitische Sprecherin der Linksfraktion im Bundestag</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/thomas.jpg">
              <source src="videos/thomas.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://socialhack.eu" target="_blank">
                <p class="title">Thomas Lohninger</p>
                <p class="subtitle">Geschäftsführer von epicenter.works</p>
              </a>
            </div>
          </article>
        </div>

      </div>
    </section>
