    <section id="unterstuetzende-section">
      <a class="anchor" name="unterstuetzende"></a>
      <h2>Unterstützende Organisationen</h2>

      <div class="columns is-multiline">

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://ccc.de" target="_blank">
                <img src="img/logo/ccc.jpg">
              </a>
            </div>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title">Chaos Computer Club e.V.</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://algorithmwatch.org" target="_blank">
                <img src="img/logo/aw.png">
              </a>
            </div>
            <div class="card-content">
              <a href="https://algorithmwatch.org" target="_blank">
                <p class="title">AlgorithmWatch</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://www.amnesty.de" target="_blank">
                <img src="img/logo/ai.png">
              </a>
            </div>
            <div class="card-content">
              <a href="https://www.amnesty.de" target="_blank">
                <p class="title">Amnesty International e.V.</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://digitalegesellschaft.de" target="_blank">
                <img src="img/logo/dg.jpg">
              </a>
            </div>
            <div class="card-content">
              <a href="https://digitalegesellschaft.de" target="_blank">
                <p class="title">Digitale Gesellschaft e.V.</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://d-64.org" target="_blank">
                <img src="img/logo/d64.png">
              </a>
            </div>
            <div class="card-content">
              <a href="https://d-64.org" target="_blank">
                <p class="title">D64 Zentrum für Digitalen Fortschritt e.V.</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://reclaimyourface.eu" target="_blank">
                <img src="img/logo/ryf.png">
              </a>
            </div>
            <div class="card-content">
              <a href="https://reclaimyourface.eu" target="_blank">
                <p class="title">ReclaimYourFace</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://www.load-ev.de" target="_blank">
                <img src="img/logo/load.png">
              </a>
            </div>
            <div class="card-content">
              <a href="https://www.load-ev.de" target="_blank">
                <p class="title">LOAD e.V. Verein für liberale Netzpolitik</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://digitale-freiheit.jetzt" target="_blank">
                <img src="img/logo/df.svg">
              </a>
            </div>
            <div class="card-content">
              <a href="https://digitale-freiheit.jetzt" target="_blank">
                <p class="title">Digitale Freiheit e.V.</p>
              </a>
            </div>
          </article>
        </div>

        <div class="column is-one-third">
          <article class="card" >
            <div class="card-image">
              <a href="https://www.topio.info" target="_blank">
                <img src="img/logo/topio.jpg">
              </a>
            </div>
            <div class="card-content">
              <a href="https://www.topio.info" target="_blank">
                <p class="title">Topio /// public space for privacy</p>
              </a>
            </div>
          </article>
        </div>

      </div>
    </section>
