    <section id="forderungen-section">
      <a id="forderungen" class="anchor"></a>
      <p>
        Wenige Überwachungsmaßnahmen bedrohen Freiheitsrechte und Demokratie so sehr wie automatische Gesichtserkennung: Sie macht Fehler, sie diskriminiert Frauen und People of Colour und gefährdet die anonyme Teilnahme an Demonstrationen.
        Das ist gerade in Zeiten des politischen Rechtsrucks gefährlich.
      </p>

      <h1>Unsere Forderungen</h1>

      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-2 has-text-right">
          1.
        </h3>
        <p class="column is-9-tablet">
          Ein Verbot automatischer Gesichtserkennung und sonstiger biometrischer Fernerkennung in der Öffentlichkeit.
          Das gilt sowohl für Systeme zur nachträglichen als auch zur Live-Erkennung.
        </p>
      </div>
      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-2 has-text-right">
          2.
        </h3>
        <p class="column is-9-tablet">
          Ein Verbot der wissenschaftlich höchst umstrittenen Emotionserkennung.
        </p>
      </div>

      <p><!-- for spacing, fix once scss is working again --></p>

      <p>
        Die Bundesregierung hat sich im Koalitionsvertrag dazu verpflichtet, biometrische Erkennung im öffentlichen Raum zu verbieten. Wir nehmen sie beim Wort und fordern die Bundestagsabgeordneten auf, das entsprechende Verbot zu beschließen.
      </p>

      <div class="columns">
        <a href="./action.html" class="column is-half is-offset-one-quarter">
          <p class="button title is-size-3">
            Was kann ich tun?
          </p>
        </a>
      </div>

    </section>
