    <section id="forderungen-section">
      <a id="forderungen" class="anchor"></a>

      <h1>Unsere Forderungen</h2>

      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-2 has-text-right">
          1.
        </h3>
        <p class="column is-9-tablet">
          Ein Verbot automatischer Gesichtserkennung in der Öffentlichkeit durch die Polizei oder andere staatliche Akteure.
        </p>
      </div>
      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-2 has-text-right">
          2.
        </h3>
        <p class="column is-9-tablet">
          Wirksames Vorgehen gegen Terroranschläge durch soziale Präventions- und Aussteigerprogramme statt ungezielter Massenüberwachung.
        </p>
      </div>

      <div class="columns">
        <a href="mailto:mail@digitale-freiheit.jetzt?subject=Aufruf unterstützen - Keine Gesichtserkennung zur Massüberwachung" class="column is-three-fifths is-offset-one-fifth">
          <p class="button">
            Sie sind Teil einer Organisation, die den Aufruf unterstützenswert findet? Dann schreiben Sie uns eine kurze Mail an die folgende Adresse:
            <br />
            mail@digitale-freiheit.jetzt 
          </p>
        </a>
      </div>

    </section>
