    <section id="forderungen-section">
      <a id="forderungen" class="anchor"></a>
      <p>
        Wenige Überwachungsmaßnahmen bedrohen Freiheitsrechte und Demokratie so sehr wie automatische Gesichtserkennung: Sie macht Fehler, sie diskriminiert Frauen und People of Colour und gefährdet die anonyme Teilnahme an
        Demonstrationen.
      </p>

      <h1>Unsere Forderungen</h1>

      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-1 has-text-right">
          1.
        </h3>
        <p class="column is-9-tablet">
          Ein Verbot automatischer Gesichtserkennung in der Öffentlichkeit durch die Polizei oder andere staatliche Akteure.
        </p>
      </div>
      <div class="columns is-mobile">
        <h3 class="column is-narrow is-1-widescreen is-offset-1-tablet is-size-1 has-text-right">
          2.
        </h3>
        <p class="column is-9-tablet">
          Wirksames Vorgehen gegen Terroranschläge durch soziale Präventions- und Aussteigerprogramme statt ungezielter Massenüberwachung.
        </p>
      </div>

      <div class="columns">
        <a href="/action.html" class="column is-half is-offset-one-quarter">
          <p class="button title is-size-3">
            Was kann ich tun?
          </p>
        </a>
      </div>

      <p>
        Aber es zeigt sich international Widerstand. In mehreren Städten der USA wurde Gesichtserkennung bereits verboten. Im Stadtrat von San Francisco wurde sie als "gefährliche Waffe" bezeichnet, die inkompatibel mit einer gesunden Demokratie sei.
      </p>
      </br>
      <p> <b>
        <a class="white" href="https://www.spiegel.de/panorama/justiz/bundespolizei-gesichtserkennungssysteme-an-vielen-flughaefen-und-bahnhoefen-geplant-a-1303523.html" style="color:white"> In Deutschland hingegen soll sie an 135 Bahnhöfen und 14 Flughäfen eingesetzt werden. </a>
      </b></p>
      </br>
      <p>
        Das wollen wir verhindern und zeigen:  <b>Gesichtserkennung ist es nicht wert. Der Schaden, den sie an Demokratie und Freiheitsrechten anrichtet, ist immens. Ein Zugewinn an öffentlicher Sicherheit dagegen zweifelhaft.</b>
      </p>

      <div class="columns">
        <a href="/aufruf.html" class="column is-half is-offset-one-quarter">
          <p class="button title is-size-3">
            Aufruf lesen!
          </p>
        </a>
      </div>

    </section>
