<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keine Gesichtserkennung zur Massenüberwachung</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
 
<body>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-tab" href="./">
            Gesichtserkennung Stoppen
            <!--
            <img src="img/gesichter/face1.jpg" width="50px" height="50px">
            -->
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <a class="navbar-item is-tab" href="./#forderungen">
                Forderungen
              </a>
              <a class="navbar-item is-tab" href="./action.html#was-kann-ich-tun">
                Was kann ich tun?
              </a>
              <a class="navbar-item is-tab" href="./brief.html#brief">
                Offener Brief
              </a>
              <a class="navbar-item is-tab" href="./#arguments">
                Argumente
              </a>
              <a class="navbar-item is-tab" href="./#testimonials">
                Testimonials
              </a>
              <a class="navbar-item is-tab" href="./#unterstuetzende">
                Unterstützende
              </a>
            </div>

            <div class="navbar-end">
              <a class="navbar-item is-tab" href="#footer">
                Über das Projekt
              </a>
            </div>

        </div>
    </div>
  </nav>     

  <div class="container has-background-white">
