<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keine Gesichtserkennung zur Massenüberwachung</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
 
<body onload="if (!document.cookie.includes('no-campaign')) document.getElementById('campaign-notification').classList.remove('is-hidden')">

  <div id="campaign-notification" class="is-hidden">
    <button class="delete" onclick="document.getElementById('campaign-notification').classList.add('is-hidden'); document.cookie='no-campaign'"></button>
    <div class="level">
      <div class="campaign-img level-item">
        <img src="img/reclaim-your-face-logo.png" alt="ReclaimYourFace Campaign Logo">
      </div>
      <div class="campaign-text level-item">
        <div class="content">
          <h1>The international ReclaimYourFace Campaign has started!</h1>
          <p>
            Many European Digital Rights Organizations say: Biometric Surveillance has to be banned!
          </p>
          <p>
            <a class="is-primary" style="color: white" href="https://reclaimyourface.eu/">
              Join the campaign now!
            </a>
            <button onclick="document.getElementById('campaign-notification').classList.add('is-hidden'); document.cookie='no-campaign'">
              Weiter zur Website
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-tab" href="/">
            Gesichtserkennung Stoppen
            <!--
            <img src="img/gesichter/face1.jpg" width="50px" height="50px">
            -->
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <a class="navbar-item is-tab" href="/#forderungen">
                Forderungen
              </a>
              <a class="navbar-item is-tab" href="action.html">
                Was kann ich tun?
              </a>
              <a class="navbar-item is-tab" href="/#testimonials">
                Testimonials
              </a>
              <a class="navbar-item is-tab" href="aufruf.html#aufruf">
                Aufruf
              </a>
              <a class="navbar-item is-tab" href="#unterstuetzende">
                Unterstützende
              </a>
              <a class="navbar-item is-tab" href="presse.html">
                Pressemitteilung
              </a>
              <a class="navbar-item is-tab" href="pressespiegel.html">
                Pressespiegel
              </a>
            </div>

            <div class="navbar-end">
              <a class="navbar-item is-tab" href="#footer">
                Über das Projekt
              </a>
            </div>

        </div>
    </div>
  </nav>     

  <div class="container has-background-white">
