    <section class="section hero is-medium is-info is-size-5">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title">Mailadresse erfolgreich bestätigt!</h2>
            <p>
                Sie werden ab jetzt über alle weiteren Aktionen im Rahmen der Kampagne gesichtserkennung-stoppen.de auf dem Laufenden gehalten.
            </p>
            <p>
                Am Ende jeder Mail ist ein Link enthalten, mit dem Sie sich vom Newsletter austragen können. 
            </p>
        </div>
      </div>
    </section>
