    <section>
      <div class="content">

        <h1 class="title">Aktuelle Pläne des Innenministeriums müssen gestoppt werden – Bündnis fordert Verbot automatisierter Gesichtserkennung</h2>
        <p>
          Ein Bündnis aus zivilgesellschaftlichen Organisationen wendet sich gegen den Vorstoß des Innenministeriums, an 135 Bahnhöfen und 14 Flughäfen automatisierte Gesichtserkennung einsetzen zu wollen. Stattdessen fordert das Bündnis „Gesichtserkennung stoppen“ ein Verbot dieser hochproblematischen Technologie in Deutschland. Auch wenn eine Verbesserung der Sicherheit etwa an Bahnhöfen grundsätzlich sinnvoll erscheint, ist automatisierte Gesichtserkennung als Mittel dafür nicht nur ungeeignet, sondern hat immense negative Folgen für Millionen Passanten und Reisende.
        </p>
        </br>
        <p>
          Automatisierte Gesichtserkennung bedeutet eine permanente heimliche Personenüberwachung in öffentlichen Räumen wie Bahnhöfen oder Flughäfen. Die Körperdaten aller Vorbeilaufenden werden dabei erfasst und automatisiert mit Datenbanken abgeglichen, ohne dass die Betroffenen dies bemerken müssen. Damit greift die automatisierte Gesichtserkennung tief in die Rechte und Freiheiten von Menschen ein, wenn biometrische Körperdaten quasi im Vorbeigehen und anlasslos analysiert werden.
        </p>
        </br><p>
          „Automatische Gesichtserkennung ist eine Hochrisikotechnologie“, erklärt Viktor Schlüter von der Organisation Digitale Freiheit: „Hohe Falscherkennungsraten, die Diskriminierung von Frauen und People of Color und das enorme Missbrauchspotential stellen eine Gefahr für die Demokratie dar.“            
        </p>
        </br><p>
          „Dieses unnötige und invasive Biometriesystem ist nur ein weiterer Baustein, den maschinenlesbaren Menschen zu schaffen. Allein durch das zufällige Vorbeilaufen legen wir mit unseren Körperdaten eine digitale Spur, die uns alle auch wegen der Unzuverlässigkeit der eingesetzten Algorithmen in unseren Rechten und Freiheiten einschränkt“, sagte Dirk Engling, Sprecher des Chaos Computer Clubs.
        </p>
        </br><p>

          „Die optische Vermessung von Gesichtern droht eine weitere Form der anlasslosen Überwachung zu werden, nur diesmal mit detaillierten Körperdaten“, fügt Rainer Rehak vom Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung hinzu. „Wir müssen uns jetzt diesen gefährlichen Plänen in den Weg stellen, bevor immer mehr öffentliche Räume mit biometrischen Erkennungssystemen bestückt werden, die zudem nicht einmal mehr Sicherheit bringen.“
        </p>
        </br><p>

          „Der Einsatz dieser Technologie zur Überwachung des öffentlichen Raumes schränkt auch politische Teilhabe ein: Wer fürchten muss, automatisch erfasst zu werden, wird im Zweifel eher nicht an einer Demonstration teilnehmen“, gibt Elisabeth Niekrenz von der Digitalen Gesellschaft zu bedenken.
        </p>
        </br><p>

          Im Lichte stetig sinkender Kriminalitätsraten in Deutschland besteht nicht nur keinerlei Notwendigkeit für neue, teure und ineffiziente Überwachungsmaßnahmen zur anlasslosen Erfassung von Körperdaten von Reisenden, sondern ist es Zeit, ein Verbot dieser gesellschaftlich schädlichen Technologie in die Wege zu leiten. Ein Verbot automatisierter Gesichtserkennung in Deutschland hat bereits Vorbilder: Mehrere US-amerikanische Großstädte haben den Einsatz der Technologie durch staatliche Stellen im öffentlichen Raum aufgrund der damit verbundenen Gefahren verboten. Der Stadtrat von San Francisco etwa bezeichnete automatisierte Gesichtserkennung als „gefährliche Waffe“ sowie als inkompatibel mit einer gesunden Demokratie und verbot ihren Einsatz. [3]
        </p>
        </br><p>

          Dass die teure Technik überhaupt einsatzreif ist und den erhofften Zweck erfüllt, ist zudem zweifelhaft: In einem Gesichtserkennungstest von Innenministerium und Bundespolizei im Jahr 2018 in Berlin war die Falscherkennungsrate so hoch, dass mehr als jede 200. Person fälschlicherweise erkannt wurde. Dies würde allein am getesteten Berliner Bahnhof Südkreuz zu täglich 600 Fehlalarmen führen. Der Chaos Computer Club [0] und das Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung [1] kritisierten die unwissenschaftliche Vorgehensweise und Auswertung der Tests sowie die deutlich geschönten Testergebnisse.
        </p>
        </br><p>

          Das Bündnis „Gesichtserkennung stoppen“ [2] besteht aus den zivilgesellschaftlichen Organisationen Digitale Freiheit, Chaos Computer Club, Digitale Gesellschaft, Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung sowie Digitalcourage.
        </p>
        </br>
        <p> Verweise:</br>
        [0] Biometrische Videoüberwachung: Der Südkreuz-Versuch war kein Erfolg, https://www.ccc.de/de/updates/2018/debakel-am-suedkreuz</br>
        [1] Verfälschte Studie zur Tauglichkeit grundrechtswidriger Techniken, https://www.fiff.de/verfaelschte-studie-zur-tauglichkeit-grundrechtswidriger-techniken</br>
        [2] Webauftritt des Bündnisses, https://www.gesichtserkennung-stoppen.de/</br>
        [3] San Francisco Approves Ban On Government's Use Of Facial Recognition Technology, https://www.npr.org/2019/05/14/723193785/san-francisco-considers-ban-on-governments-use-of-facial-recognition-technology
        </p>
        </br>
        </br>
        </br>
      </div>
    </section>
