<section>
	<div class="content">
		<h1 class="title is-1">Pressespiegel</h1>
	</div>
	<div class="content">
		<p>
			<b>
			heise.de
			</b>
			<br/>
			9. Januar.2020
			<br/>
			<a href="https://anwaltverein.de/de/newsroom/pm-01-20-dav-warnt-vor-systematischer-videoueberwachung-mit-gesichtserkennung">
				Maschinenlesbarer Mensch: Verbot automatisierter Gesichtserkennung gefordert  
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Telepolis
			</b>
			<br/>
			9. Januar.2020
			<br/>
			<a href="https://www.heise.de/tp/features/Buendnis-von-digitalen-Buergerrechtsorganisationen-fordert-Verbot-automatisierter-Gesichtserkennung-4630871.html">
				Bündnis von digitalen Bürgerrechtsorganisationen fordert Verbot automatisierter Gesichtserkennung  
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			golem.de
			</b>
			<br/>
			9. Januar 2020
			<br/>
			<a href="link">
				Bündnis fordert Verbot von Gesichtserkennung 
			</a>
		</p>
	</div>

	<div class="content">
		<p>
			<b>
			euractiv.de
			</b>
			<br/>
			9. Januar 2020
			<br/>
			<a href="link">
				Ausweitung der Gesichtserkennung: Bündnis aus NGOs und Politik fordert Verbot 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Radio Dreyeckland
			</b>
			<br/>
			10. Januar 2020
			<br/>
			<a href="https://rdl.de/beitrag/b-ndnis-gesichtserkennung-stoppen-fordert-verbot-der-technologie">
				Bündnis "Gesichtserkennung-stoppen" fordert Verbot der Technologie 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Zeit Online
			</b>
			<br/>
			10. Januar 2020
			<br/>
			<a href="https://www.zeit.de/digital/datenschutz/2020-01/gesichtserkennung-videoueberwachung-biometrie-horst-seehofer-buergerrechte">
				Netzaktivisten fordern Verbot automatisierter Gesichtserkennung 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Tagesspiegel Background
			</b>
			<br/>
			10.01.2020
			<br/>
			<a href="https://background.tagesspiegel.de/digitalisierung/buendnis-fordert-verbot-automatisierter-gesichtserkennung">
				Bündnis fordert Verbot automatisierter Gesichtserkennung 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Business Insider
			</b>
			<br/>
			11 Jan 2020
			<br/>
			<a href="https://www.businessinsider.de/politik/kann-gesichtserkennung-wirklich-helfen-verbrechen-zu-verhindern/">
				Expertenstreit: Kann Gesichtserkennung wirklich helfen, Verbrechen zu verhindern? 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Süddeutsche Zeitung
			</b>
			<br/>
			12. Januar 2020
			<br/>
			<a href="https://www.sueddeutsche.de/digital/gesichtserkennung-biometrie-verbot-1.4751435">
				Gesichtserkennung sollte der Polizei verboten werden 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Spiegel Online
			</b>
			<br/>
			15.01.2020
			<br/>
			<a href="https://www.spiegel.de/politik/deutschland/horst-seehofer-will-polizei-aufruesten-krakenhafter-uebergriff-warnen-die-gruenen-a-1f9f4bdb-a7a4-4bb0-9a39-17ab894e67f9#ref=rss">
				Grüne warnen vor "krakenhaftem Übergriff" 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Zeit
			</b>
			<br/>
			15. Januar 2020
			<br/>
			<a href="https://www.zeit.de/2020/04/ueberwachung-anonymitaet-gesichtserkennung-staedte-veroedung-buergerrechte">
				Rettet die Anonymität! 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Deutschlandfunk
			</b>
			<br/>
			16.01.2020
			<br/>
			<a href="https://www.deutschlandfunk.de/automatische-gesichtserkennung-es-ist-moeglich-die-systeme.676.de.html?dram:article_id=468082">
				„Es ist möglich, die Systeme zu umgehen“ 
			</a>
		</p>
	</div>
	<div class="content">
		<p>
			<b>
			Tagesspiegel
			</b>
			<br/>
			17.01.2020
			<br/>
			<a href="https://www.tagesspiegel.de/politik/weissbuch-zu-kuenstlicher-intelligenz-eu-kommission-erwaegt-regulierung-von-gesichtserkennung/25446238.html">
				EU-Kommission erwägt Regulierung von Gesichtserkennung 
			</a>
		</p>
	</div>

</section>
