@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
//$blue: #06bcef;
// Add pink and its invert
//$pink: #ff8080;
//$pink-invert: #fff;
// Update the sans-serif font family
//$family-sans-serif: "Helvetica", "Arial", sans-serif;
@font-face {
  font-family: "InriaBold";
  src: url("/fonts/InriaSans-Bold.ttf");
}

@font-face {
  font-family: "CABNDWeb-Bold";
  src: url("/fonts/CABNDWeb-Bold.ttf");
}

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;
$red: #fe0000;//#b80f0a;
$blue: #0c27ce;
$primary: $red;
$info: $blue;

$family-primary: "InriaBold";

$card-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.2), 0 0px 0 1px rgba(0, 0, 0, 0.04);

//$footer-background-color: $primary;
//$footer-color: true;
//$footer-padding: 1rem 1.5rem 1rem;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

//.title {
//  font-family: "CABNDWeb-Bold";
//}

section {
  margin-bottom: 0 !important;
  padding: 6rem 1.5rem;
}

@media screen and (min-width: $desktop) {
  section {
    padding: 6rem 15%;
  }
}

.navbar-brand a {
  font-family: "CABNDWeb-Bold";
  font-size: 120%;
}

.anchor {
  padding-top: 120px;
  margin-top: -120px;
}

.has-shadow {
  text-shadow: 2px 2px 10px #000;
}

.is-twice-as-big {

}

.navbar .container {
  padding: 0 12px;
}

#large-title {
  padding: 0;

  .hero-body {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  
  img {
    opacity: 0.7;
    border: 1px solid white;
  }
  
  .noface {
    width: 100%;
    padding: 0;
    opacity: 0.7;
    border: 1px solid white;
  }
  
  .noface:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 450%;
    font-family: CABNDWeb-Bold;
  }
  
  h1 span {
    padding: .2em .3em 0;
    background-color: #875ED8;
  }
}

#small-title .hero-body {
  padding-bottom: 100px;
}

#small-title h1 {
  text-align: center;
  font-size: 450%;
  font-family: CABNDWeb-Bold;
}

#small-title h1 span {
  padding: .2em .3em 0;
  background-color: #875ED8;
}

.forderungen-section {
  @extend .hero;
  @extend .is-info;
  @extend .content;
  @extend .is-large;
  margin-bottom: 0;


    .button {
      width: 100%;
      height: 100px;
      @extend .is-primary;
    }
}

video {
  width: 100%;
  display: block;
}
 
#testimonials-section .card {
  height: 100%;
}

.argumente .columns {
  margin-top: 20px;
}

.argumente .columns:before {
  content: "";
  display: block;
  height: 30px;
  @extend .is-hidden-desktop;
}

.footer {
}
