        <div class="column is-half">
          <article class="card">
            <video class="is-16by9" controls preload="none" poster="video_poster/SHORTNAME.jpg">
              <source src="videos/SHORTNAME.mp4" type="video/mp4">
            </video>
            <div class="card-content">
              <a href="https://ccc.de" target="_blank">
                <p class="title is-5 has-text-black">NAME</p>
                <p class="subtitle is-6 has-text-black">FUNCTION</p>
              </a>
            </div>
          </article>
        </div>
