    <section id="title-large">
      <div class="hero-body">

        <div class="columns is-hidden-touch">
          <div class="column is-10 is-offset-1">
            <div class="columns faces">

              <div class="column is-one-fifth">
                <img src="img/gesichter/face5468.jpg">
              </div>

              <div class="column is-one-fifth">
                <img src="img/gesichter/face932.jpg">
              </div>

              <div class="column is-one-fifth">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth">
                <img src="img/gesichter/face3.jpg">
              </div>

              <div class="column is-one-fifth">
                <img src="img/gesichter/face5.jpg">
              </div>

            </div>
          </div>
        </div>

        <a href="/">
          <h1><span>
            Keine Gesichts&shy;erkennung
          </span><br /><span>
            zur Massen&shy;überwachung
          </span></h1>
        </a>

        <div class="columns is-hidden-touch">
          <div class="column is-10 is-offset-1">
            <div class="columns">

              <div class="column is-one-fifth" height="200px">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth" height="200px">
                <img src="img/gesichter/face6.jpg">
              </div>

              <div class="column is-one-fifth" height="200px">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth" height="200px">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth" height="200px">
                <img src="img/gesichter/face4.jpg">
              </div>

            </div>
          </div>
        </div>


        <div class="columns is-hidden-touch">
          <div class="column is-10 is-offset-1">
            <div class="columns">

              <div class="column is-one-fifth" height="200px">
                <img src="img/gesichter/face1.jpg">
              </div>

              <div class="column is-one-fifth" height="200px">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth" height="200px">
                <img src="img/gesichter/face9.jpg">
              </div>

              <div class="column is-one-fifth" height="200px">
                <div class="noface"></div>
              </div>

              <div class="column is-one-fifth" height="200px">
                <img src="img/gesichter/face098.jpg">
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
