    <section class="section hero is-medium is-primary">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <a class="anchor" name="unterstuetzende"></a>
            <h2 class="title is-2 has-text-centered">Unter&shy;stützende</h2>

            <div class="columns is-multiline">

              <div class="column is-half-tablet is-one-third-desktop">
                <div class="whitebox" >
                  <a href="https://ccc.de" target="_blank">
                    <img src="img/logo-chaosknoten.jpg">
              	  <p><b>Chaos Computer Club e.V.</b></p>
                  </a>
                </div>
              </div>
 
              <div class="column is-half-tablet is-one-third-desktop">
                <div class="whitebox" >
                  <a href="https://digitalegesellschaft.de/" target="_blank">
                    <img src="img/digiges.jpg">
              	  <p><b>Digitale Gesellschaft e.V.</b></p>
                  </a>
                </div>
              </div>
 
              <div class="column is-half-tablet is-one-third-desktop">
                <div class="whitebox" >
                  <a href="https://fiff.de/" target="_blank">
                    <img src="img/fiff.jpg">
              	  <p><b>FIfF e.V.</b></p>
                  </a>
                </div>
              </div>

              <div class="column is-half-tablet is-one-third-desktop">
                <div class="whitebox">
                  <a href="https://digitale-freiheit.jetzt/" target="_blank">
                    <img src="img/logo_rund.png">
              	  <p><b>Digitale Freiheit</b></p>
                  </a>
                </div>
              </div>
 
              <div class="column is-half-tablet is-one-third-desktop">
                <div class="whitebox" >
                  <a href="https://digitalcourage.de/" target="_blank">
                    <img src="img/logo-dc.png">
              	  <p><b>Digitalcourage e.V.</b></p>
                  </a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
