    <section id="was-kann-ich-tun">
      <div class="content">
        <h2 class="title is-2 has-text-centered">Was kann ich tun?</h2>
        <p>
          Fragen Sie Ihre:n Abgeordnete:n, wie er oder sie zu automatischer Gesichtserkennung steht. Fragen Sie außerdem, ob er oder sie dagegen stimmen wird, wenn die Gesichtserkennung im Bundestag beschlossen werden soll.
        </p>
        </br>
        <p> 
          Dazu können Sie <b><a href="https://abgeordnetenwatch.de" style="color:white">abgeordnetenwatch.de</a></b> nutzen.
          Die Fragen und Antworten sind transparent für alle sichtbar. Damit geben Abgeordnete eine Zusage ab, die sie später kaum mehr zurücknehmen wollen. 
        </p>
        </br>
        <p>
          Alternativ können Sie Bundestagsabgeordnete auch auf Twitter, anderen Social Media Kanälen oder per E-Mail kontaktieren!
        </p>
      </div>

      <div class="columns">
        <a href="https://www.abgeordnetenwatch.de/" class="column is-three-fifths is-offset-one-fifth">
          <p class="button title is-size-3">
            Jetzt auf abgeordnetenwatch.de Abgeordnete kontaktieren
          </p>
        </a>
      </div>

    </section>
