    <section id="was-kann-ich-tun">
      <div class="content">
        <h2 class="title is-2 has-text-centered">Was kann ich tun?</h2>
        <p>
          Fragen Sie Ihre:n Abgeordnete:n, wie er oder sie zu automatischer Gesichtserkennung steht. Fragen Sie außerdem, ob er oder sie für ein Verbot von Gesichtserkennung im Bundestag stimmen wird.
        </p>
        </br>
        <p> 
          Dazu können Sie Bundestagsabgeordnete auf Social Media oder per E-Mail kontaktieren.
        </p>
        </br>
        <p>
          Alternativ können Sie <b><a href="https://abgeordnetenwatch.de" style="color:white">abgeordnetenwatch.de</a></b> nutzen.
          Die Fragen und Antworten sind transparent für alle sichtbar. Damit geben Abgeordnete eine Zusage ab, die sie später kaum mehr zurücknehmen wollen. 
        </p>
      </div>

      <div class="columns">
        <a href="https://www.abgeordnetenwatch.de/" class="column is-three-fifths is-offset-one-fifth">
          <p class="button title is-size-3">
            Jetzt Abgeordnete kontaktieren
          </p>
        </a>
      </div>

      <div class="content">
        </br>
        <h2 class="title is-2 has-text-centered">Auf dem Laufenden bleiben</h2>
        <p class="title is-4"> 
          Sie möchten erfahren, wenn es eine Petition oder Protest-Aktionen gibt?
        </p>
        </br>
        <p class="title is-3"> 
          <a href="https://social.tchncs.de/@DigitaleFreiheit" style="color:white">
          Folgen Sie uns auf Mastodon
          </a>  
        </p>
        </br>
        <p class="title is-3"> 
          <a href="https://www.instagram.com/digitale.freiheit/" style="color:white">
          Folgen Sie uns auf Instagram
          </a> 
        </p>
        </br>
        <p class="title is-3"> 
          <a href="https://www.facebook.com/DigitaleFreiheit" style="color:white">
          Folgen Sie uns auf Facebook
          </a> 
        </p>
        <p>
          Keine Lust auf datenhungrige soziale Netzwerke? Schicken Sie uns die vorformulierte Mail, um sich für den Kampagnen-Newsletter einzutragen:
        </p>
      </div>
      <div class="columns">
        <a href="mailto:mail@digitale-freiheit.jetzt?subject=Gesichtserkennung Stoppen Newsletter&body=Ich möchte gerne den Newsletter der Gesichtserkennung Stoppen Kampagne abonnieren, um über zukünftige Entwicklungen auf dem Laufenden gehalten zu werden. Den Newsletter kann ich jederzeit abbestellen."class="column is-three-fifths is-offset-one-fifth">
          <p class="button title is-size-3">
            Jetzt Newsletter abonnieren!
          </p>
        </a>
      </div>

    </section>
